<div class="col-sm-6" style="width: 350px" (mouseout)="removeActivation()">
  <div
    class="card mb-4 mx-5"
    [ngStyle]="
      !user.is_active
        ? { border: '5px solid black' }
        : { border: '5px solid red' }
    "
  >
    <div class="card-body text-center">
      <img
        [src]="user.image"
        alt="avatar"
        class="rounded-circle img-fluid"
        style="width: 100px"
      />
      <h5 class="my-3" *ngIf="!user.is_active; active">
        <ng-container>{{ user.username }}</ng-container>
      </h5>
      <h5 class="my-3" *ngIf="user.is_active; active">
        <ng-container>{{ user.username | uppercase }}</ng-container>
      </h5>
      <p class="text-muted mb-1">{{ user.email }}</p>
      <p class="text-muted mb-4">{{ user.phone }}</p>
      <ng-container *ngIf="user.is_verified">
        <fa-icon [icon]="faStar" [ngStyle]="{ color: '#1f5127' }"></fa-icon>
      </ng-container>
      <ng-container *ngIf="!user.is_verified">
        <fa-icon [icon]="faStar" [ngStyle]="{ color: '#ea0634' }"></fa-icon>
      </ng-container>
      <br />
      <button class="btn btn-primary" (click)="activeToggle()">
        {{ btnName }}
      </button>
    </div>
  </div>
</div>
